.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: auto;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .main-container {
    display: block;
    width: 90%;
    margin: auto;
  }
}
