.col-m {
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  background-color: #ffffff;
  box-shadow: 13px 13px 20px #faf9f9, -13px -13px 20px rgb(245, 246, 249);
}
.col-m img {
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.col-m:hover {
  background-color: #ecf0f3;
  border-radius: 10px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

@media only screen and (max-width: 600px) {
  .col-m {
    width: 90%;
    border: 1px solid #808080;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 30px;
  }
}
